

{% extends 'babyteach/base.html' %}
{%  block main %}
 <div class="pt-3 pb-3 text-gray font-weight-light font-s12">
            <i class="fa fa-home" aria-hidden="true"></i>
            <a href="/" title="首页" class="text-gray">首页</a>><a title="资讯" class="text-gray" href="/news-list.html">资讯</a> >{{detail.title}}
        </div>

          <div class="row">
            <div class="col-8 pb-4 pl-0 pr-4">
                <h1 class="h4 text-center lh-2 pt-2 pb-2" style="font-weight:; color:;">{{detail.title}}</h1>
                <div class="row justify-content-md-center">
                    <div class="col-10 text-gray font-s12 font-weight-light pt-3 pb-3 justify-content-between align-items-center align-middle d-flex">
                        <div> 来源：<span class="author"><a href="">{{detail.author}}</a></span> 时间：{{detail.addtime | date:"Y-m-d H:i:s"}}</div>

                    </div>
                </div>

                <div class="content lh-2 font-weight-light font-s16">
                    <!--正文-->
                    {{detail.words | safe}}

                    <div class="tags">所属分类：<a href="#" target="_blank">{{detail.tag.name}}</a> </div>
                </div>
                <div class="clearfix"></div>



            </div>

            <div class="col-4 p-0 bg-light border-left- border-">




                <div class="clearfix"></div>

                <div class="bg-gray p-2">
                    <ul class="bg-white pt-0 pb-0 pl-3 pr-3 border" style="border-top: 2px solid #d6181d !important;">
                        <div id="hotlist" class="bg-white text-red font-weight-light- font-s18 pt-3 pb-2">资讯热点排名</div>

                    </ul>
                </div>



                <div class="clearfix"></div>



            </div>
        </div>
<script>
    $(function(){
    //加载热点资讯
    $.ajax({
    type:'post',
    url:'/search/gethottagslist',
    success:function(datas){
    for(i=0;i<datas.hotlist.length;i++){
     var num =i+1;
     $("#hotlist").append("<li class='d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3'><a href='/detail/"+datas.hotlist[i].id+"' class='font-weight-light font-s14' target='_blank' style='color:;font-weight:;'><span class='badge badge-red text-white font-weight-light mr-2'>"+num+"</span>"+datas.hotlist[i].title+"</a><span class='font-weight-light font-s14 text-gray'></span></li>");
    }

    }
    });

    });
</script>

{%  endblock main %}
