
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>《大头兵》让孩子在快乐的阅读中培养国防意识_幼儿乐育儿资讯网</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta name="description" content="如何加强青少年的国防教育，从小树立保家卫国、居安思危的思想观念和现代国防意识是关系民族的存亡的大事。--《中华人民共和国国防教育法》 大头兵，圆孩子一个英雄梦 在中国，大部分孩子和曾经的孩子都有一个英雄梦，而铮铮铁骨、保家卫国的军人则是他们的英雄代表。在建国70周年阅兵式和抗击新冠病毒的战疫中，军人们的坚毅身影更是掀起了全民军事热潮。2020年4月，接力出版社出版“儿童爆笑军事漫画•大头兵”图书，" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,IE=EmulateIE9,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/static/babyteach/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/babyteach/css/animate.min.css" />
    <link rel="stylesheet" href="/static/babyteach/css/common.css" />
    <link rel="stylesheet" href="/static/babyteach/css/common-fix.css?v=2019021315" />

    <script type="text/javascript" src="/static/babyteach/js/jquery.js"></script>
    <script type="text/javascript" src="/static/babyteach/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/babyteach/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/babyteach/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="/static/babyteach/js/dialog.js"></script>
    <script type="text/javascript" src="/static/babyteach/js/app.js"></script>
    <script type="text/javascript" src="/static/babyteach/js/common.js"></script>
   
</head>
<body>

    <header>
        <div class="container d-flex justify-content-between align-items-center align-middle pt-2 pb-2 pl-0 pr-0">
            <div class="d-flex align-items-center mt-3 mb-3">
                <a href="" title="幼儿乐育儿资讯网"><img src="/static/babyteach/img/logo.png" height="50" /></a>

            </div>

            <div class="d-flex align-items-center collapse_ js-search-iframe">
                <style type="text/css">
                    .form-control::-webkit-input-placeholder {
                        color: #999;
                        font-size: 12px;
                        letter-spacing: 1px;
                        opacity: 1;
                    }

                    .form-control::-moz-placeholder {
                        color: #999;
                        font-size: 12px;
                        letter-spacing: 1px;
                        opacity: 1;
                    }

                    .form-control:-ms-input-placeholder {
                        color: #999;
                        font-size: 12px;
                        letter-spacing: 1px;
                        opacity: 1;
                    }

                    .form-control::-ms-input-placeholder {
                        color: #999;
                        font-size: 12px;
                        letter-spacing: 1px;
                        opacity: 1;
                    }

                    .form-control::placeholder {
                        color: #999;
                        font-size: 12px;
                        letter-spacing: 1px;
                        opacity: 1;
                    }
                </style><div class="search-ajax-iframe"><form name="search-form" id="search-form" action="" method="get" class="w-100">    <input type="hidden" name="modelId" id="modelId" value="" class="js-model-id">    <div class="input-group">        <div class="input-group-prepend">            <span class="input-group-text text-gray border-red border-right-0 bg-white pl-2 pr-2"><i class="fa fa-search"></i></span>        </div>        <input name="keyword" id="keyword" type="text" value="" class="form-control border-red border-left-0 h-auto pt-1 pb-1 pl-0 font-s14 font-weight-light js-keyword" aria-label="" placeholder="关键字">        <div class="input-group-append">            <button class="btn btn-red font-weight-light font-s14 pt-1 pb-1 pl-3 pr-3" type="button">搜 索</button>        </div>    </div></form>	</div>
            </div>

        </div>
    </header>

    <nav class="navbar navbar-expand-md navbar-dark navigation bg-green p-0">
        <div class="container d-flex justify-content-between align-items-center align-middle pl-0 pr-0">
            <ul class="navbar-nav text-center align-items-center align-middle">
                <li class="nav-item lh-15 active"> <a href="" target="_self" class="nav-link pt-2 pb-2 pl-3 pr-3 font-s18 text-white-85 font-weight-light rounded-">首页</a> </li>





                <li class="nav-item lh-15 pl-2 pr-2 d-flex justify-content-between align-items-center align-middle ">
                    <a href="/news-list.html" target="_self" class="nav-link- pt-2 pb-2 pl-1 pr-1 font-s18 text-white-85 font-weight-light rounded- hover">资讯</a>
                    <div class="child d-flex p-0 m-0">
                        <a class="pt-0 pb-0 pl-1 pr-1 m-0 nav-link rounded text-white-85 font-weight-light font-s16 lh-12 " href="/news-list-cid-2.html">孕育百科</a>  <a class="pt-0 pb-0 pl-1 pr-1 m-0 nav-link rounded text-white-85 font-weight-light font-s16 lh-12 " href="/news-list-cid-4.html">母婴宝典</a>  <a class="pt-0 pb-0 pl-1 pr-1 m-0 nav-link rounded text-white-85 font-weight-light font-s16 lh-12 " href="/news-list-cid-8.html">专家在线</a>  <a class="pt-0 pb-0 pl-1 pr-1 m-0 nav-link rounded text-white-85 font-weight-light font-s16 lh-12 " href="/news-list-cid-9.html">健康饮食</a>  <a class="pt-0 pb-0 pl-1 pr-1 m-0 nav-link rounded text-white-85 font-weight-light font-s16 lh-12 " href="/news-list-cid-10.html">疾病护理</a>
                    </div>
                </li>



                <li class="nav-item lh-15 pl-2 pr-2 d-flex justify-content-between align-items-center align-middle ">
                    <a href="/zhidao-list.html" target="_self" class="nav-link- pt-2 pb-2 pl-1 pr-1 font-s18 text-white-85 font-weight-light rounded- hover">知识</a>
                    <div class="child d-flex p-0 m-0">
                        <a class="pt-0 pb-0 pl-1 pr-1 m-0 nav-link rounded text-white-85 font-weight-light font-s16 lh-12 " href="/zhidao-list-cid-2.html">品牌资讯</a>  <a class="pt-0 pb-0 pl-1 pr-1 m-0 nav-link rounded text-white-85 font-weight-light font-s16 lh-12 " href="/zhidao-list-cid-3.html">社会热点</a>  <a class="pt-0 pb-0 pl-1 pr-1 m-0 nav-link rounded text-white-85 font-weight-light font-s16 lh-12 " href="/zhidao-list-cid-4.html">母婴用品</a>
                    </div>
                </li>


            </ul>
            <a href="/special" class="hot-special">专题策划</a>
        </div>
    </nav>



    <main role="main" class="container">
        <div class="pt-3 pb-3 text-gray font-weight-light font-s12">
            <i class="fa fa-home" aria-hidden="true"></i>
            <a href="/" title="首页" class="text-gray">首页</a>><a title="资讯" class="text-gray" href="/news-list.html">资讯</a> >标题
        </div>

          <div class="row">
            <div class="col-8 pb-4 pl-0 pr-4">
                <h1 class="h4 text-center lh-2 pt-2 pb-2" style="font-weight:; color:;">《大头兵》让孩子在快乐的阅读中培养国防意识</h1>
                <div class="row justify-content-md-center">
                    <div class="col-10 text-gray font-s12 font-weight-light pt-3 pb-3 justify-content-between align-items-center align-middle d-flex">
                        <div> 来源：<span class="author"><a href="">幼儿乐育儿资讯网</a></span> 时间：2020-04-17 10:50</div>

                    </div>
                </div>

                <div class="content lh-2 font-weight-light font-s16">
                    <p>如何加强青少年的国防教育，从小树立保家卫国、居安思危的思想观念和现代国防意识是关系民族的存亡的大事。--《中华人民共和国国防教育法》</p> <p>大头兵，圆孩子一个英雄梦</p> <p>在中国，大部分孩子和曾经的孩子都有一个英雄梦，而铮铮铁骨、保家卫国的军人则是他们的英雄代表。在建国70周年阅兵式和抗击新冠病毒的战疫中，军人们的坚毅身影更是掀起了全民军事热潮。2020年4月，接力出版社出版“儿童爆笑军事漫画•大头兵”图书，在纸上打造一个战场，让孩子们在快乐的阅读中一圆心中的军人梦、英雄梦。</p> <p>“大头兵” 是一部专为儿童打造的爆笑军事漫画，作品以硝烟弥漫的战场和多姿多彩的军营生活为背景，讲述了发生在大头兵和战友、大头兵和敌军之间的一系列紧张刺激又令人捧腹的幽默故事。书中的主人公大头兵形象诙谐有趣：五短身材，圆圆的大鼻子，戴着一顶遮住眼睛的钢盔，喜欢吃巧克力饼。他和博士、呆胖、敌军司令官为了赢取军事胜利，谋划了一次又一次令人啼笑皆非的军事行动。漫画故事夸张、风趣，想象力奇特，大头兵机智勇敢，不怕累、不怕输的形象跃然纸上。除了风趣幽默的故事，书中还穿插各种军事知识，让孩子在轻松愉快的氛围中培养阅读兴趣，普及军事知识，形成正确的战争观，养成坚忍不拔、顽强拼搏的优良品质。</p> <p>漫画父子兵</p>

                    <div class="tags">所属分类：<a href="/news-list-cid-4.html" target="_blank">母婴宝典</a> </div>
                </div>
                <div class="clearfix"></div>



            </div>

            <div class="col-4 p-0 bg-light border-left- border-">




                <div class="clearfix"></div>

                <div class="bg-gray p-2">
                    <ul class="bg-white pt-0 pb-0 pl-3 pr-3 border" style="border-top: 2px solid #d6181d !important;">
                        <div class="bg-white text-red font-weight-light- font-s18 pt-3 pb-2">资讯热点排名</div>





                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview41.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="孕妇穿什么样的鞋对孕妇和宝宝都好呢?"><span class="badge badge-red text-white font-weight-light mr-2">1</span>孕妇穿什么样的鞋对孕妇和宝宝</a>
                            <span class="font-weight-light font-s14 text-gray">394</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview44.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="家有宝宝，幼儿期吃花生可降低过敏风险"><span class="badge badge-red text-white font-weight-light mr-2">2</span>家有宝宝，幼儿期吃花生可降低</a>
                            <span class="font-weight-light font-s14 text-gray">370</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview69.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="想做父母，怎样能更快速的怀孕"><span class="badge badge-red text-white font-weight-light mr-2">3</span>想做父母，怎样能更快速的怀孕</a>
                            <span class="font-weight-light font-s14 text-gray">322</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview55.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="一岁内婴儿的智力发展有八次飞跃"><span class="badge badge-secondary text-white font-weight-light mr-2">4</span>一岁内婴儿的智力发展有八次飞</a>
                            <span class="font-weight-light font-s14 text-gray">321</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview66.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="宝宝误喝了花露水，要怎么处理！"><span class="badge badge-secondary text-white font-weight-light mr-2">5</span>宝宝误喝了花露水，要怎么处理</a>
                            <span class="font-weight-light font-s14 text-gray">305</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview67.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="如何预防小儿意外伤害"><span class="badge badge-secondary text-white font-weight-light mr-2">6</span>如何预防小儿意外伤害</a>
                            <span class="font-weight-light font-s14 text-gray">302</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview68.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="孕妇产后6个月是“减重黄金期”"><span class="badge badge-secondary text-white font-weight-light mr-2">7</span>孕妇产后6个月是“减重黄金期</a>
                            <span class="font-weight-light font-s14 text-gray">288</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview86.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="哺乳期妈妈们的“禁果”，少碰。"><span class="badge badge-secondary text-white font-weight-light mr-2">8</span>哺乳期妈妈们的“禁果”，少碰</a>
                            <span class="font-weight-light font-s14 text-gray">286</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview75.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="准妈妈泡温泉应该注意哪些问题？"><span class="badge badge-secondary text-white font-weight-light mr-2">9</span>准妈妈泡温泉应该注意哪些问题</a>
                            <span class="font-weight-light font-s14 text-gray">285</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview87.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="宝宝多大才可以添加辅食，怎么添加有学问。"><span class="badge badge-secondary text-white font-weight-light mr-2">10</span>宝宝多大才可以添加辅食，怎么</a>
                            <span class="font-weight-light font-s14 text-gray">282</span>
                        </li>
                    </ul>
                </div>



                <div class="clearfix"></div>



            </div>
        </div>
    </main>




    <footer>
        <div class="container text-center p-2 border-top text-muted small font-weight-light">
            <nav class="navbar navbar-expand-md navbar-dark d-flex justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item p-1 ml-1 mr-1"><a href="javascript:;">关于我们</a></li>
                    <li class="nav-item p-1 ml-1 mr-1"><a href="javascript:;">加入我们</a></li>
                    <li class="nav-item p-1 ml-1 mr-1"><a href="javascript:;">媒体合作</a></li>
                    <li class="nav-item p-1 ml-1 mr-1"><a href="javascript:;">免责声明</a></li>
                    <li class="nav-item p-1 ml-1 mr-1"><a href="javascript:;">服务条款</a></li>
                    <li class="nav-item p-1 ml-1 mr-1"><a href="javascript:;">客户评价</a></li>
                    <li class="nav-item p-1 ml-1 mr-1"><a href="javascript:;">问题反馈</a></li>
                    <li class="nav-item p-1 ml-1 mr-1"><a href="javascript:;">联系我们</a></li>
                </ul>
            </nav>
            <div class="netsign"></div>
            <p class="m-1">
                如本站提供的信息对您造成了侵权，请及时告诉我们，我们将第一时间予以处理，构建和谐网络！
            </p>
            <p class="m-1">
                <strong>特别声明：本站所有信息均来自互联网，不保证时效，所有言论及信息不代表本站立场，本站不负任何连带法律责任！</strong>
            </p>

        </div>
    </footer>





</body>
</html>