

{% extends 'babyteach/base.html' %}
{%  block main %}
 <div class="pt-3 pb-3 text-gray font-weight-light font-s12">
            <i class="fa fa-home" aria-hidden="true"></i>
            <a href="/" title="首页" class="text-gray">首页</a>><a title="资讯" class="text-gray" href="/news-list.html">资讯</a> >{{detail.title}}
        </div>

          <div class="row">
            <div class="col-8 pb-4 pl-0 pr-4">
                <h1 class="h4 text-center lh-2 pt-2 pb-2" style="font-weight:; color:;">{{detail.title}}</h1>
                <div class="row justify-content-md-center">
                    <div class="col-10 text-gray font-s12 font-weight-light pt-3 pb-3 justify-content-between align-items-center align-middle d-flex">
                        <div> 来源：<span class="author"><a href="">{{detail.author}}</a></span> 时间：{{detail.addtime | date:"Y-m-d H:i:s"}}</div>

                    </div>
                </div>

                <div class="content lh-2 font-weight-light font-s16">
                    <!--正文-->
                    {{detail.words | safe}}

                    <div class="tags">所属分类：<a href="#" target="_blank">{{detail.tag.name}}</a> </div>
                </div>
                <div class="clearfix"></div>



            </div>

            <div class="col-4 p-0 bg-light border-left- border-">




                <div class="clearfix"></div>

                <div class="bg-gray p-2">
                    <ul class="bg-white pt-0 pb-0 pl-3 pr-3 border" style="border-top: 2px solid #d6181d !important;">
                        <div class="bg-white text-red font-weight-light- font-s18 pt-3 pb-2">资讯热点排名</div>





                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview41.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="孕妇穿什么样的鞋对孕妇和宝宝都好呢?"><span class="badge badge-red text-white font-weight-light mr-2">1</span>孕妇穿什么样的鞋对孕妇和宝宝</a>
                            <span class="font-weight-light font-s14 text-gray">394</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview44.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="家有宝宝，幼儿期吃花生可降低过敏风险"><span class="badge badge-red text-white font-weight-light mr-2">2</span>家有宝宝，幼儿期吃花生可降低</a>
                            <span class="font-weight-light font-s14 text-gray">370</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview69.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="想做父母，怎样能更快速的怀孕"><span class="badge badge-red text-white font-weight-light mr-2">3</span>想做父母，怎样能更快速的怀孕</a>
                            <span class="font-weight-light font-s14 text-gray">322</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview55.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="一岁内婴儿的智力发展有八次飞跃"><span class="badge badge-secondary text-white font-weight-light mr-2">4</span>一岁内婴儿的智力发展有八次飞</a>
                            <span class="font-weight-light font-s14 text-gray">321</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview66.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="宝宝误喝了花露水，要怎么处理！"><span class="badge badge-secondary text-white font-weight-light mr-2">5</span>宝宝误喝了花露水，要怎么处理</a>
                            <span class="font-weight-light font-s14 text-gray">305</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview67.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="如何预防小儿意外伤害"><span class="badge badge-secondary text-white font-weight-light mr-2">6</span>如何预防小儿意外伤害</a>
                            <span class="font-weight-light font-s14 text-gray">302</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview68.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="孕妇产后6个月是“减重黄金期”"><span class="badge badge-secondary text-white font-weight-light mr-2">7</span>孕妇产后6个月是“减重黄金期</a>
                            <span class="font-weight-light font-s14 text-gray">288</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview86.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="哺乳期妈妈们的“禁果”，少碰。"><span class="badge badge-secondary text-white font-weight-light mr-2">8</span>哺乳期妈妈们的“禁果”，少碰</a>
                            <span class="font-weight-light font-s14 text-gray">286</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview75.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="准妈妈泡温泉应该注意哪些问题？"><span class="badge badge-secondary text-white font-weight-light mr-2">9</span>准妈妈泡温泉应该注意哪些问题</a>
                            <span class="font-weight-light font-s14 text-gray">285</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview87.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="宝宝多大才可以添加辅食，怎么添加有学问。"><span class="badge badge-secondary text-white font-weight-light mr-2">10</span>宝宝多大才可以添加辅食，怎么</a>
                            <span class="font-weight-light font-s14 text-gray">282</span>
                        </li>
                    </ul>
                </div>



                <div class="clearfix"></div>



            </div>
        </div>

{%  endblock main %}
