

{% extends 'babyteach/base.html' %}
{%  block main %}
  <div class="pt-3 pb-3 text-gray font-weight-light font-s12">
            <i class="fa fa-home" aria-hidden="true"></i>
            <a href="" title="首页" class="text-gray">首页</a> <i class="fas fa-angle-right ml-2 mr-2"></i> <a title="资讯" class="text-gray" href="/news-list.html">资讯</a>
        </div>  <div class="row p-0 m-0 mb-4">
            <div class="col-8 p-0">
                <h2 class="font-s22 font-weight-light text-default pt-0 pb-3 mb-0">资讯</h2>
                <div class="list-unstyled mr-3">

                    <div class="media justify-content-center align-items-center align-middle border-bottom pt-4 pb-4">
                        <div class="media-body">
                            <h5 class="font-s18 font-weight-normal mb-2 lh-2"><a href="/newsview180.html" style="color:#252525;font-weight:;" target="_blank">做明智妈妈 你要学会的几点小道理</a></h5>
                            <!--<p class="font-weight-light font-s14 text-gray mb-2 collapse"><i class="fas fa-bars mr-2" aria-hidden="true"></i><a href="" target="_blank"></a></p>-->
                            <p class="font-weight-light font-s14 text-gray mb-0"><i class="far fa-clock mr-2" aria-hidden="true"></i>04/28/2020 12:20</p>
                        </div>
                    </div>
                    <div class="media justify-content-center align-items-center align-middle border-bottom pt-4 pb-4">
                        <div class="media-body">
                            <h5 class="font-s18 font-weight-normal mb-2 lh-2"><a href="/newsview180.html" style="color:#252525;font-weight:;" target="_blank">做明智妈妈 你要学会的几点小道理</a></h5>
                            <!--<p class="font-weight-light font-s14 text-gray mb-2 collapse"><i class="fas fa-bars mr-2" aria-hidden="true"></i><a href="" target="_blank"></a></p>-->
                            <p class="font-weight-light font-s14 text-gray mb-0"><i class="far fa-clock mr-2" aria-hidden="true"></i>04/28/2020 12:20</p>
                        </div>
                    </div>
                    <div class="media justify-content-center align-items-center align-middle border-bottom pt-4 pb-4">
                        <div class="media-body">
                            <h5 class="font-s18 font-weight-normal mb-2 lh-2"><a href="/newsview180.html" style="color:#252525;font-weight:;" target="_blank">做明智妈妈 你要学会的几点小道理</a></h5>
                            <!--<p class="font-weight-light font-s14 text-gray mb-2 collapse"><i class="fas fa-bars mr-2" aria-hidden="true"></i><a href="" target="_blank"></a></p>-->
                            <p class="font-weight-light font-s14 text-gray mb-0"><i class="far fa-clock mr-2" aria-hidden="true"></i>04/28/2020 12:20</p>
                        </div>
                    </div>

                </div>


                <div class="clearfix"></div>


                <ul class="pagination justify-content-center mt-5 mb-5" id="pagenav">

                    <li class="page-item active current"><a class="page-link font-weight-light" href="/news-list-page-1.html">1</a></li>
                    <li class="page-item"><a class="page-link font-weight-light page_num page_num_1" href="/news-list-page-2.html">2</a></li>
                    <li class="page-item"><a class="page-link font-weight-light page_num page_num_1" href="/news-list-page-3.html">3</a></li>




                </ul>
            </div>
            <div class="col-4 p-0 bg-light border-left- border-">






                <div class="bg-gray p-2">
                    <ul class="bg-white pt-0 pb-0 pl-3 pr-3 border" style="border-top: 2px solid #d6181d !important;">
                        <div class="bg-white text-red font-weight-light- font-s18 pt-3 pb-2">资讯热点排名</div>





                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview41.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="孕妇穿什么样的鞋对孕妇和宝宝都好呢?"><span class="badge badge-red text-white font-weight-light mr-2">1</span>孕妇穿什么样的鞋对孕妇和宝宝</a>
                            <span class="font-weight-light font-s14 text-gray">394</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview44.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="家有宝宝，幼儿期吃花生可降低过敏风险"><span class="badge badge-red text-white font-weight-light mr-2">2</span>家有宝宝，幼儿期吃花生可降低</a>
                            <span class="font-weight-light font-s14 text-gray">370</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview69.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="想做父母，怎样能更快速的怀孕"><span class="badge badge-red text-white font-weight-light mr-2">3</span>想做父母，怎样能更快速的怀孕</a>
                            <span class="font-weight-light font-s14 text-gray">322</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview55.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="一岁内婴儿的智力发展有八次飞跃"><span class="badge badge-secondary text-white font-weight-light mr-2">4</span>一岁内婴儿的智力发展有八次飞</a>
                            <span class="font-weight-light font-s14 text-gray">321</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview66.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="宝宝误喝了花露水，要怎么处理！"><span class="badge badge-secondary text-white font-weight-light mr-2">5</span>宝宝误喝了花露水，要怎么处理</a>
                            <span class="font-weight-light font-s14 text-gray">305</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview67.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="如何预防小儿意外伤害"><span class="badge badge-secondary text-white font-weight-light mr-2">6</span>如何预防小儿意外伤害</a>
                            <span class="font-weight-light font-s14 text-gray">302</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview68.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="孕妇产后6个月是“减重黄金期”"><span class="badge badge-secondary text-white font-weight-light mr-2">7</span>孕妇产后6个月是“减重黄金期</a>
                            <span class="font-weight-light font-s14 text-gray">288</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview86.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="哺乳期妈妈们的“禁果”，少碰。"><span class="badge badge-secondary text-white font-weight-light mr-2">8</span>哺乳期妈妈们的“禁果”，少碰</a>
                            <span class="font-weight-light font-s14 text-gray">286</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview75.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="准妈妈泡温泉应该注意哪些问题？"><span class="badge badge-secondary text-white font-weight-light mr-2">9</span>准妈妈泡温泉应该注意哪些问题</a>
                            <span class="font-weight-light font-s14 text-gray">285</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center align-middle border-top pt-3 pb-3">
                            <a href="/newsview87.html" class="font-weight-light font-s14" target="_blank" style="color:;font-weight:;" title="宝宝多大才可以添加辅食，怎么添加有学问。"><span class="badge badge-secondary text-white font-weight-light mr-2">10</span>宝宝多大才可以添加辅食，怎么</a>
                            <span class="font-weight-light font-s14 text-gray">282</span>
                        </li>
                    </ul>
                </div>


                <div class="clearfix"></div>



            </div>
        </div>

{%  endblock main %}




